/********* 
General (mobile first) 
********************/

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */
/* fonts */

body {
    font-family: "Montserrat", sans-serif;
}

/* custom properties */

:root {
    --color-white: #ffffff;
    --color-bg-color: #ececec;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}



/********Page properties*************/


/* Container property */
.container{
    max-width: 1080px;
    margin: 0 auto;
    
}

main,
footer{
    min-height: 70px;
    padding: 20px
}

/* ul properties */
ul{
    list-style: none;
    margin: 20px;
}

.socials a{
    display: block;
}

.buttons{
    text-align: center;
    line-height: 2;
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 40%;
    box-shadow: 0px 1px 4px 0px var(--color-black);

}


/****** UTILITIES ******/

/* Text utilities */

i{
    font-size: 15px;
}


hr{
    width: 70px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.txt-bold{
    font-weight: bold;
}

/* only tablet e desktop utility */

.only-tablet{
    display: none;

}

.only-desktop{
    display: none;

}

.only-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-only-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }

.desktop-flex{
    background-color: var(--color-white);
}
    
/* flex utility */
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}

.spacebetween{
    justify-content: space-between;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}
/******** header properties *********/

header h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: var(--color-contrast);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

/* main properties */

main{
    background-color: var(--color-bg-color);
}

main h6{
    color: grey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    padding-top: 20px;
}

main h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-dark-text);
    margin-bottom: 20px;
    margin-top: 10px;
}
.video{
    display: inline-block;
    background-color: var(--color-white);
}
.video img{
    width: 100%;
}

.description{
    background-color: var(--color-white);
    padding: 10px 20px;
}

.description h3{
    color: var(--color-dark-text);
    margin-bottom: 31px;
}

main .description li{
    margin-bottom: 20px;
}

.presentation img{
    width: 50%;
    box-shadow: 0px 1px 4px 0px var(--color-black);
    margin: 10px 0;

}
.presentation{
    padding-bottom: 65px;
}
main p{
    line-height: 2;
    padding-bottom: 70px;
}

.presentation h3{
    text-transform: uppercase;
    color: var(--color-dark-text);
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

.banner img{
    width: 100%;

}

/* footer properties */

footer{
    background-color: var(--color-dark-text);
    color: var(--color-white);
}

footer li a{
    color: var(--color-white);
    margin: 20px;
}

footer p{
    margin: 20px;
    text-align: center;
}

footer ul{
    padding: 10px;
}

footer h4{
    text-align: center;
    padding-top: 20px;
}

/* meta queries */

@media screen and (min-width: 768px) {
    header h1{
        text-align: start;
    }
    
    
    main ul{
        display: flex;
        flex-wrap: wrap;
    }
   
    main li{
        
        margin: 20px;
    }
    .socials a{
        display: inline-block;
    }
    .buttons{
        width: 70px;
        height: 30px;
        border-radius: 15px;
        margin: 0;
    }
    .only-tablet{
        display: inline-block;
    }
    .float{
        float: left;
    }
    .presentation p{
        display: inline;
    }
    .only-mobile{
        display: block;
    }
    .presentation img{
        width: 50%;
        margin: 10px;
    }
  }

  @media screen and (min-width: 992px) {
    
    .only-desktop{
        display: inline-block;
    }

    .description ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }


    .buttons{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        margin: 0;
    }

    .only-desktop{
        font-weight: bold;
        font-size: 10px;
        line-height: 1;
    }
    .desktop-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .description li {
        margin-bottom: 0px;
        font-size: 15px;
        line-height: 1.8;
    }
    .video{
        width: 60%;
        display: inline-block;
    }

    .description{
        width: 40%;
    }

    .footer-flex{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;

    }

    footer h4{
        text-align: start;
        margin-left: 20px;
        padding-top: 10px;
    }

    footer ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;

    }

    footer ul li a {
        margin: 4px;
        font-size: 15px;
        padding-top: 10px;
    }

    footer p{
        text-align: start;
        font-size: 10px;
    }