/********* 
General (mobile first) 
********************/

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}
/* fonts */

body {
    font-family: "Montserrat", sans-serif;
}

/* custom properties */

:root {
    --color-white: #ffffff;
    --color-bg-color: #ececec;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}



/********Page properties*************/


/* Container property */
.container{
    max-width: 576px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ul properties */
ul{
    list-style: none;
}

.socials a{
    display: block;
}

.buttons{
    text-align: center;
    line-height: 2;
    width: 35px;
    height: 30px;
    background-color: var(--color-white);
    border-radius: 40%;
    box-shadow: 0px 1px 4px 0px var(--color-black);
    margin: 10px 10px;

}


/****** UTILITIES ******/

/* Text utilities */

hr{
    width: 70px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.txt-bold{
    font-weight: bold;
}

/* only tablet e desktop utility */

.only-tablet{
    display: none;

}

.only-desktop{
    display: none;

}

/* flex utility */
.d-flex{
    display: flex;
}

.spacebetween{
    justify-content: space-between;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}


/******** header properties *********/

header h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: var(--color-contrast);
    text-transform: uppercase;
}

/* main properties */

main{
    background-color: var(--color-bg-color);
}

main h6{
    color: grey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    margin-top: 10px;
}

main h2{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-dark-text);
    margin-bottom: 20px;
    margin-top: 10px;
}
.video{
    display: inline-block;
    background-color: var(--color-white);
}
.video img{
    width: 100%;
}

.description{
    background-color: var(--color-white);
    padding: 10px 20px;
}

.description h3{
    color: var(--color-dark-text);
    margin-bottom: 30px;
}

main .description li{
    margin-bottom: 20px;
}

.presentation img{
    width: 50%;
    box-shadow: 0px 1px 4px 0px var(--color-black);
    margin: 10px 0;

}

main p{
    line-height: 2;
    margin-bottom: 70px;
}

.presentation h3{
    text-transform: uppercase;
    color: var(--color-dark-text);
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

/* footer properties */